# Python caches
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/

# Data Files (Crucial for Privacy and Size)
data/raw/
data/processed/
data/translated/
data/final/
EBMT 1/
*.docx
*.csv
*.txt

# IDEs
.vscode/
.idea/

# Large Model weights (usually handled by HF, but git shouldn't track them)
models/
.cache/
indictrans2-finetuned-court/
indictrans2-merged-court/
